/* Desktop */
@media (min-width: 992px) {
    #chatDiv {
        width: 40% !important;
        position: fixed;
        left: 20px;
        bottom: 70px;
        z-index: 10;
        border: solid 2px #1683E9;
    }
}

/* Mobile and Up */

/* Home Tour */

.home-tour-wrapper {
    height: 350px;
    width: 100% !important;
}

.home-tour-img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}

/* chat style */
#btnChat {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 10;
}

#chatDiv {
    width: 70%;
    position: fixed;
    left: 20px;
    bottom: 70px;
    z-index: 10;
    border: solid 2px #1683E9;
    display: none;
}

#valid,
#invalid {
    display: none;
}

#viewChat {
    background-color: #FFFFFF;
    height: 280px;
    padding: 10px 0px;
    overflow: auto;
}


.chatMessage {
    border: 1px solid #eeeeee;
    border-radius: 20px;
    padding: 10px;
    background-color: #eeeeee;
    display: inline-block;
}

/* end chat style */

.has-error,
.has-error>.form-control {
    border-color: red !important;
    color: red;
}

.tour-image-box {
    height: 270px;
    width: 100% !important;
}

.tour-image {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}

.has-success>.form-control {
    border-color: green !important;
}

.landscape {
    height: 438px;
    width: 100% !important;
}

.gambar-tour {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}

/* sign page */
#showPassword {
    cursor: pointer;
}

.btn-google {
    background-color: #CC0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-google:hover {
    color: #EFEFEF;
    text-decoration: none;
}

#SignContent {
    z-index: 1;
    position: relative;
    top: 50px;
}

#SignIn::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

#SignIn {
    background-color: #cf000f;
    height: 100%;
}
